<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- header -->
<header th:fragment="commonHeader">
    <!-- tool bar -->
    <div id="header-toolbar" class="container-fluid">
        <!-- .contained -->
        <div class="contained">

            <!-- theme name -->
            <h1> SuperSuse <span class="hidden-phone">- 校园事务管理系统</span> </h1>
            <!-- end theme name -->

            <!-- span4 -->
            <div class="pull-right">
                <!-- demo theme switcher-->
                <div id="theme-switcher" class="btn-toolbar">
                    <!-- dropdown mini-inbox-->
                    <div class="btn-group">
                        <!--&lt;!&ndash; 邮箱信息 &ndash;&gt;-->
                        <!--<a href="javascript:void(0)" class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown">-->
                            <!--<span class="mail-sticker">3</span>-->
                            <!--<i class="cus-email"></i>-->
                        <!--</a>-->
                        <!-- search and log off button for phone devices -->
                        <!--<a href="javascript:void(0)" class="btn btn-inverse btn-small visible-phone"><i class="icon-search"></i></a>-->
                        <!-- end buttons for phone device -->
                        <!-- 登出 -->
                        <a href="/loginOut" class="btn btn-small btn-inverse dropdown-toggle"><i class="icon-off"></i></a>
                        <!-- end new mail ticker -->
                        <!-- email lists -->
                        <!--<div class="dropdown-menu toolbar pull-right">-->
                            <!--<h3>Inbox</h3>-->
                            <!--<ul id="mailbox-slimscroll-js" class="mailbox">-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="unread">-->
                                        <!--<img src="/img/email-important.png" alt="important mail" />-->
                                        <!--From: David Simpson-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>Dear Victoria, Congratulations! Your work has been uploaded to wrapbootstrap.com...</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="unread attachment">-->

                                        <!--<img src="/img/email-unread.png" alt="important mail" />-->
                                        <!--Re:Last Year sales-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>Hey Vicky, find attached! Thx :-)</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="unread">-->
                                        <!--<img src="/img/email-unread.png" alt="important mail" />-->
                                        <!--Company Party-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>Hi, You have been cordially invited to join new year after party.</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="read">-->
                                        <!--<img src="/img/email-read.png" alt="important mail" />-->
                                        <!--RE: 2 Bugs found...-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>I have found two more bugs in this your beta version, maybe its not working...</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="read">-->
                                        <!--<img src="/img/email-read.png" alt="important mail" />-->
                                        <!--2 Bugs found...-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="javascript:void(0)" class="read">-->
                                        <!--<img src="/img/email-read.png" alt="important mail" />-->
                                        <!--Welcome to Jarvis!-->
                                        <!--<i class="icon-paper-clip"></i>-->
                                        <!--<span>Feugiat a, tellus. Phasellus viverra nulla ut metus varius. Quisque rutrum. Aenean imperdiet... </span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<a href="javascript:void(0);" id="go-to-inbox">Go to Inbox <i class="icon-double-angle-right"></i></a>-->
                        <!--</div>-->
                        <!-- end email lists -->
                    </div>
                    <!-- end dropdown mini-inbox-->
                </div>
                <!-- end demo theme switcher-->
            </div>
            <!-- end span4 -->
        </div>
        <!-- end .contained -->
    </div>
    <!-- end tool bar -->

</header>
<!-- end header -->
</body>
</html>