<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
    <title th:text="${title}"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--// OPTIONAL & CONDITIONAL CSS FILES //-->
    <!-- date picker css -->
    <link rel="stylesheet" href="/css/datepicker.css?v=1" />
    <!-- full calander css -->
    <link rel="stylesheet" href="/css/fullcalendar.css?v=1" />
    <!-- data tables extended CSS -->
    <link rel="stylesheet" href="/css/TableTools.css?v=1" />
    <!-- bootstrap wysimhtml5 editor -->
    <link rel="stylesheet" href="/css/bootstrap-wysihtml5.css?v=1" />
    <link rel="stylesheet" href="/css/wysiwyg-color.css" />
    <!-- custom/responsive growl messages -->
    <link rel="stylesheet" href="/css/toastr.custom.css?v=1" />
    <link rel="stylesheet" href="/css/toastr-responsive.css?v=1" />
    <link rel="stylesheet" href="/css/jquery.jgrowl.css?v=1" />

    <!-- // DO NOT REMOVE OR CHANGE ORDER OF THE FOLLOWING // -->
    <!-- bootstrap default css (DO NOT REMOVE) -->
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css?v=1" />
    <!-- font awsome and custom icons -->
    <link rel="stylesheet" href="/css/font-awesome.min.css?v=1" />
    <link rel="stylesheet" href="/css/cus-icons.css?v=1" />
    <!-- jarvis widget css -->
    <link rel="stylesheet" href="/css/jarvis-widgets.css?v=1" />
    <!-- Data tables, normal tables and responsive tables css -->
    <link rel="stylesheet" href="/css/DT_bootstrap.css?v=1" />
    <!--<link rel="stylesheet" href="/css/responsive-tables.css?v=1" />-->
    <!-- used where radio, select and form elements are used -->
    <link rel="stylesheet" href="/css/uniform.default.css?v=1" />
    <link rel="stylesheet" href="/css/select2.css?v=1" />
    <!-- main theme files -->
    <link rel="stylesheet" href="/css/theme.css?v=1" />
    <link rel="stylesheet" href="/css/theme-responsive.css?v=1" />

    <!-- // THEME CSS changed by javascript: the CSS link below will override the rules above // -->
    <!-- For more information, please see the documentation for "THEMES" -->
    <link rel="stylesheet" id="switch-theme-js" href="/css/themes/default.css?v=1" />
    <!-- To switch to full width -->
    <link rel="stylesheet" id="switch-width" href="/css/full-width.css?v=1" />

    <!-- Webfonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css' />

    <!-- All javascripts are located at the bottom except for HTML5 Shim -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/js/include/respond.min.js"></script>
    <![endif]-->

    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="/img/favicons/favicon.png" />
    <!-- For everything else -->
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/apple-touch-icon-retina.png" />
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/apple-touch-icon-ipad.png" />
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="/img/favicons/apple-touch-icon.png" />

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
</html>