<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/onload-css :: commonHead(班级管理)">
<body>
<!-- .height-wrapper -->
<style>
    .modal.fade.in {
        top: 90px;
    }
</style>

<div class="height-wrapper">

    <!-- header -->
    <header th:include="/common/header :: commonHeader"></header>
    <!-- end header -->

    <div id="main" role="main" class="container-fluid">
        <div class="contained">
            <!-- 左侧边栏 -->
            <aside th:include="/common/aside-left :: commonLeft"></aside>
            <!-- 自定义内容区 -->
            <div id="page-content">
                <!-- page header -->
                <h1 id="page-header" th:text="${clazz.majorName+clazz.clazzNumber}"></h1>
                <div class="fluid-container">
                    <section id="widget-grid">
                        <div class="row-fluid">
                            <article class="span12 sortable-grid ui-sortable">
                                <div class="span">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">添加学生
                                            <span class="caret"></span>
                                        </button>
                                        <button style="float: right" onclick="deleteBatch()" class="btn btn-danger">批量删除</button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation">
                                                <a role="menuitem" onclick="showModal()" tabindex="-1">手动添加</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" id="ExcelAdd" tabindex="-1">Excel添加</a>
                                                <form id="addStudentsForm" action="/manage/student/add" enctype="multipart/form-data" method="post" style="display: none">
                                                    <input type="file" onchange="uploadFile()" name="file" id="choseFile">
                                                    <input type="text" id="clazzId" name="clazzId" th:value="${clazz.clazzId}">
                                                    <input type="text" id="monitorId" name="monitorId" th:value="${clazz.monitorId}">
                                                    <input type="submit" id="submitForm">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="row-fluid">
                            <article class="span12 sortable-grid ui-sortable">
                                <!-- new widget -->
                                <div class="jarviswidget jarviswidget-sortable" id="widget-id-5" role="widget" style="">
                                    <header role="heading">
                                        <h2>学生信息</h2>
                                    </header>
                                    <!-- wrap div -->
                                    <div role="content">
                                        <div class="inner-spacer">
                                            <!-- content goes here -->
                                            <table class="table table-bordered table-striped checked-in responsive has-checkbox" id="sc-table">
                                                <thead>
                                                    <tr>
                                                        <th class="first"><input type="checkbox" name="checkAll" id="checkAll"></th>
                                                        <th>学号</th>
                                                        <th>学生姓名</th>
                                                        <th>性别</th>
                                                        <th>联系方式</th>
                                                        <th>出生日期</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                    <tr th:if="${studentsNum < 1}">
                                                        <td colspan="7">
                                                            <div align="center"><p>暂无学生信息,请先添加学生</p></div>
                                                        </td>
                                                    </tr>
                                                        <tr th:id="|tr${student.userId}|" th:each="student:${students}">
                                                        <td><input type="checkbox" name="checkbox"></td>
                                                        <td th:id="|td_number${student.userId}|" th:text="${student.number == null?'--':student.number}"></td>
                                                        <td th:id="|td_name${student.userId}|" th:text="${student.name == null?'--':student.name}"></td>

                                                        <td th:id="|td_sex${student.userId}|" th:if="${student.sex != null}" th:text="${student.sex == 1?'男':'女'}"></td>
                                                        <td th:id="|td_sex${student.userId}|" th:if="${student.sex == null}" th:text="--"></td>

                                                        <td th:id="|td_phone${student.userId}|" th:text="${student.phone == null?'--':student.phone}"></td>
                                                        <td th:id="|td_birth${student.userId}|" th:text="${student.birth == null}?'--':${#dates.format(student.birth,'yyyy-MM-dd')}"></td>
                                                        <td>
                                                            <button class="btn-danger btn-small" th:onclick="|deleteUser(${student.userId})|">删除</button>
                                                            <button class="btn-info btn-small" th:onclick="|editUser(${student.userId})|">编辑</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                    <!-- end wrap div -->
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
            <!-- 右侧边栏 -->
            <aside class="right" th:include="/common/aside-right :: commonRight"></aside>
            <!-- end aside right -->
        </div>

    </div><!--end fluid-container-->
    <div class="push"></div>
</div>
<!--模态框-->
<div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="z-index: -1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:#FFFFFF" class="modal-title" id="myModalLabel">学生信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="editStudentForm" action="/manage/student/add" class="form-horizontal themed">
                    <fieldset>
                        <input style="display: none" type="text" id="clazzId2" name="clazzId" th:value="${clazz.clazzId}">
                        <input type="text" style="display: none" id="userId" name="userId">
                        <div class="control-group">
                            <label class="control-label">姓名：</label>
                            <div class="controls">
                                <input type="text" id="name" name="name" autocomplete="off">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">学号：</label>
                            <div class="controls">
                                <input type="text" id="number" name="number" autocomplete="off">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">性别：</label>
                            <div class="controls">
                                <input type="radio" value="1" name="sex" checked>男
                                <input type="radio" value="0" name="sex">女
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">联系方式：</label>
                            <div class="controls">
                                <input  autocomplete="off" id="phone" type="text" name="phone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" >出生日期：</label>
                            <div class="controls">
                                <input readonly="readonly" placeholder="点击输入框选择日期" autocomplete="off" id="birth" type="text" name="birth" onclick="WdatePicker({isShowWeek:true})">
                            </div>
                        </div>
                    </fieldset>
                    <input style="display: none" id="editStudentSubmit" type="submit">
                    <input style="display: none" id="editStudentReset" type="reset">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="addUser()" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--模态框结束-->
<!--引入共有js-->
<div th:include="/common/onload-js :: commonJS"></div>
<!--引入验证插件-->
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/messages_zh.js"></script>
</body>
<script>
    // 删除一个用户
    function deleteUser(userId) {
        if(confirm("你确认要删除吗？")==true){
            var monitorId = $("#monitorId").val();
            var clazzId = $("#clazzId").val();
            $.ajax({
                type:'post',
                url:"/manage/user/delete",
                data:{
                    userId:userId,
                    clazzId:clazzId,
                    monitorId:monitorId
                },
                success:function () {
                    $("#tr"+userId).remove();
                },
                error:function () {
                    alert("删除失败，请联系管理员");
                }
            })
        }
    }
    //展示Modal
    function showModal() {
        //触发清除按钮
        $("#editStudentReset").click();
        //将学号框变为可输入
        $("#number").removeAttr("readonly");
        $('#userAddModal').modal('show');
        $('#userAddModal').css({
            'z-index': 1050
        })
    }
    //添加用户
    function addUser() {
        // var name = $("#name").val();
        // var phone = $("#phone").val();
        // var sex = $("#sex").val();
        // var number = $("#number").val();
        // var birth = $("#birth").val();
        $("#editStudentSubmit").click();
    }
    //编辑用户
    function editUser(userId) {
        //触发清除按钮
        $("#editStudentReset").click();
        //获取用户的基本属性，并将属性放在modol里
        var td_name = $("#td_name"+userId).text();
        var td_phone = $("#td_phone"+userId).text();
        var td_sex = $("#td_sex"+userId).text();
        var td_number = $("#td_number"+userId).text();
        var td_birth = $("#td_birth"+userId).text();
        var clazzId = $("#clazzId").val();
        console.log("班级号："+clazzId+"  学号："+td_number)
        //模态框中的input赋值
        $("#name").val(td_name == '--'?'':td_name);
        //将学号框变为不可输入
        $("#number").attr("readonly","readonly");
        $("#number").val(td_number);
        $("#phone").val(td_phone == '--'?'':td_phone);
        $("#clazzId2").val(clazzId);
        $("#userId").val(userId);
        if(td_sex == '--' || td_sex == '男'){
            $('input:radio:first').attr('checked', 'true');
        }else {
            $('input:radio:last').attr('checked', 'true');
        }
        $("#birth").val(td_birth == '--'?'':td_birth);
        //展示模态框
        $('#userAddModal').modal('show');
        $('#userAddModal').css({
            'z-index': 1050
        })
    }
    //批量删除
    function deleteBatch() {
        var checkboxs = $("input:checkbox[name=checkbox]:checked");
        if(confirm("确认删除已选择的"+checkboxs.length+"名同学？") == true){
            var trIds = [];
            var monitorId = $("#monitorId").val();
            var clazzId = $("#clazzId").val();
            checkboxs.each(function () {
                var trId = $(this).parent().parent().attr('id');
                trIds.push(trId.substring(2));
            })
            //获取被选中行的行id
            console.log(trIds.toString());
            $.ajax({
                type:'post',
                url:'/manage/user/delete',
                data:{
                    userIds:trIds.toString(),
                    clazzId:clazzId,
                    monitorId:monitorId
                },
                success:function () {
                    checkboxs.parent().parent().remove();
                },
                error:function () {
                    alert("删除失败，具体原因请联系管理员");
                }
            })
        }
    }
    //上传文件的方法
    function uploadFile(){
        var size = $("#choseFile")[0].files[0].size;
        var name = $("#choseFile")[0].files[0].name;
        console.log("fileName:"+name+"\nfileSize:"+size);
        var index1=name.lastIndexOf(".");
        var index2=name.length;
        var suffix=name.substring(index1+1,index2);//后缀名
        if(suffix == 'xlsx' || suffix == 'xls'){
            // 表单提交
            // $("#submitForm").click();
            // ajax提交
            var form = new FormData($('#addStudentsForm')[0]);
            $.ajax({
                url : "/manage/student/add",
                type : "POST",
                cache: false,
                processData : false,  //必须false才会避开jQuery对 formdata 的默认处理
                contentType : false,  //必须false才会自动加上正确的Content-Type
                mimeType:"multipart/form-data",
                data : form,
                success : function(data) {
                    //打印后台返回的数据
                    // console.log(data)
                    //将返回的数据转成Json对象后使用
                    var result = jQuery.parseJSON(data);
                    if(result.code == 0){
                        alert(result.data+"(注意)所有学生的初始密码都为123");
                    }else {
                        alert(result.msg);
                    }
                    //刷新页面
                    window.location.reload();
                },
                error : function(data) {
                }
            })
        }else{
            alert("文件格式不符合规定");
        }
    }
    //验证插件
    $.validator.setDefaults({
        // console.log(form)
        submitHandler: function(form) {
            var param = $("#editStudentForm").serialize();
            //提交表单
            // form.submit();
            $.ajax({
                url : "/manage/student/add",
                type : "POST",
                cache: false,
                mimeType:"multipart/form-data",
                data : param,
                success : function(data) {
                    //打印后台返回的数据
                    // console.log(data)
                    //将返回的数据转成Json对象后使用
                    var result = jQuery.parseJSON(data);
                    if(result.code == 0){
                        alert(result.data);
                    }else {
                        alert(result.msg);
                    }
                    //刷新页面
                    window.location.reload();
                },
                error : function(data) {
                    console.log(data);
                    alert("添加失败，未知错误");
                }
            })
        }
    });

    $(document).ready(function(){
        //验证添加学生表单
        $("#editStudentForm").validate({
            //验证规则
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    maxlength: 10
                },
                number: {
                    required: true,
                    number: true,
                    maxlength: 20
                },
                phone: {
                    required: false,
                    number: true,
                    maxlength: 20
                },
                birth: "required"

            },
            messages: {
                name: {
                    required: "*请输入学生姓名",
                    minlength: "*姓名最少2个字",
                    maxlength: "*姓名最多10个字",
                },
                number: {
                    required: "*请输入学号",
                    number: "*学号仅为数字",
                    minlength: "*学号不符合标准",
                    maxlength: "*学号不符合标准",
                },
                phone: {
                    maxlength: "*号码不符合标准",
                    number: "*号码仅为数字"
                },
                birth: {
                    required: "*请选择日期",
                }
            }
        });
        //多选控制
        $('input[name="checkAll"]').on("click",function(){
            if($(this).is(':checked')){
                $('input[name="checkbox"]').each(function(){
                    $(this).prop("checked",true);
                });
            }else{
                $('input[name="checkbox"]').each(function(){
                    $(this).prop("checked",false);
                });
            }
        });
        //点击<Excel添加>后触发
        $("#ExcelAdd").click(function () {
            $("#choseFile").click();
        })
    });
</script>

</html>